<section class="flex flex-col m-auto space-y-4 p-20">
	<h1 class="text-center font-semibold text-3xl">Sobre Mi</h1>
	<div class="flex w-2/4 justify-center m-auto">
		<p class="leading-7">
			Soy <span class="text-yellow-200/90"
				>Ingeniero en Sistemas Computacionales</span
			> con especialización en Ingeniería de Software. Mi enfoque principal se centra
			en <span class="text-yellow-200/90">programación web</span>, donde he
			acumulado experiencia trabajando en diversos proyectos que hacen uso de
			tecnologías como HTML, CSS , JavaScript y frameworks modernos. Además,
			cuento con experiencia en administración de redes, soporte técnico y
			análisis de datos geoespaciales con software SIG.
		</p>
		<img class="size-48 rounded-full" src="/public/img/image.jpeg" alt="" />
	</div>
</section>
