---
import User from './icons/user.astro';
---

<section id="about" class="flex flex-col w-full space-y-10 p-4 md:p-10">
	<h1
		class="flex items-center align-middle justify-center text-center gap-2 font-semibold text-3xl"
	>
		<User class="size-8" /> Sobre mí
	</h1>
	<div class="flex flex-col md:flex-row items-center m-auto gap-8">
		<img
			loading="lazy"
			class="order-1 md:order-2 mx-auto md:mx-0 md:w-48 md:h-48 size-48 rounded-full"
			src="/img/profile.webp"
			alt="Profile image José Rodríguez"
		/>
		<strong
			class="order-2 md:order-1 leading-relaxed text-left font-normal space-y-4 md:max-w-xl"
		>
			<p>
				Soy <span class="text-yellow-300/90 font-semibold"
					>Ingeniero en Sistemas Computacionales</span
				>, con especialización en
				<span class="text-yellow-300/90 font-semibold"
					>Ingeniería de Software</span
				>.
			</p>
			<p>
				Mi pasión por la <span class="text-yellow-300/90 font-semibold"
					>programación web</span
				> me ha permitido desarrollar una sólida experiencia en tecnologías como
				<span class="text-yellow-300/90 font-semibold">HTML</span>, <span
					class="text-yellow-300/90 font-semibold">CSS</span
				>, <span class="text-yellow-300/90 font-semibold">JavaScript</span> y
				<span class="text-yellow-300/90 font-semibold">frameworks modernos</span
				>, aplicándolas en diversos proyectos.
			</p>
			<p>
				Además, debido a mi formación académica cuento con experiencia en <span
					class="text-yellow-300/90 font-semibold">administración de redes</span
				>, <span class="text-yellow-300/90 font-semibold">soporte técnico</span>
				y análisis de datos geoespaciales mediante el uso de software <span
					class="text-yellow-300/90 font-semibold">SIG</span
				>. Mi enfoque se centra en crear soluciones
				<span class="text-yellow-300/90 font-semibold">eficientes</span>, <span
					class="text-yellow-300/90 font-semibold">escalables</span
				> y de alto rendimiento.
			</p>
		</strong>
	</div>
</section>
