
<section id="about" class="flex flex-col w-full space-y-10 p-4 md:p-10">
	<h1
		class="flex items-center align-middle justify-center text-center gap-2 font-semibold text-3xl"
	>
		<!-- <User class="size-8" />  -->
		Sobre mí
	</h1>
	<div class="flex flex-col md:flex-row items-center m-auto gap-8">
		<img
			loading="lazy"
			class="order-1 md:order-2 mx-auto md:mx-0 md:w-48 md:h-48 size-48 rounded-full"
			src="/img/foto_perfil.png"
			alt="Profile image emanuel enriquez"
		/>
		<strong
			class="order-2 md:order-1 leading-relaxed text-left font-normal space-y-4 md:max-w-xl"
		>
			<p>
				Soy <span class="text-purple-300/90 font-semibold"
					>estudiante de Tecnicatura en Desarrollo de Software </span
				>con un fuerte compromiso hacia mi crecimiento profesional en el área del desarrollo de software. 
				<span class="text-purple-300/90 font-semibold"
					> Me apasiona crear soluciones tecnológicas que aporten valor real, y actualmente me estoy enfocando en fortalecer mis habilidades.</span
				>.
			</p>
			<p>
				Tengo experiencia práctica en entornos ágiles<span class="text-purple-300/90 font-semibold"
					> colaborando en proyectos reales que combinan frontend y backend, </span
				> y me destaco por mi capacidad de aprendizaje constante, adaptabilidad y enfoque en la calidad del código.  
				
			</p>
		</strong>
	</div>
</section>
