<footer class="flex w-full text-sm p-4 mt-8">
	<p class="text-center text-sm md:text-base mx-auto px-2 md:px-0 max-w-3xl">
		© {new Date().getFullYear()} José Rodríguez - Todos los derechos reservados.
	</p>
</footer>
